body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  z-index: 1000;
  background-color: #0d74b1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.right a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding-right: 55px;
}

.right a:hover {
  color: #101732;
}

.banner {
  background-color: #0099cf;
  text-align: center;
}
main {
  min-height: 100vh;
  background-color: #f1f1f1;
}

.body section {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-bottom: 1px solid #ccc;
}
footer {
  background-color: #101732;
  color: white;
  text-align: center;
  padding: 20px;
}
.slideshow {
  position: relative;
  width: 100%;
  height: 500px; /* chỉnh chiều cao banner */
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;       /* vừa khung */
  height: 100%;      /* vừa khung */
  object-fit: cover; /* giữ tỷ lệ, không méo */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
}

