* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #0d74b1;
  z-index: 1000;
}

.container {
  width: 100%;
  padding: 0 30px;  
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.right a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.right a:hover {
  color: #101732;
}

.banner {
  margin-top: 80px;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.banner-content h1 {
  font-size: 50px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.9);
}

.banner-content p {
  font-size: 25px;
  margin: 10px 0 20px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.9);
}

.search-box {
  display: flex;
  gap: 10px;
  padding: 15px;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}

.search-box input,
.search-box button {
  padding: 10px;
  font-size: 16px;
}

.search-box button {
  background: orange;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-box button:hover {
  background: rgb(144, 94, 1);
}

.title {
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: 0 40px;
}

.title h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.title p {
  margin: 5px 0 0;
  color: #666;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 180px);
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;  

  grid-template-areas:
  "phuquoc phuquoc vungtau"
  "dalat quynhon vungtau"
  "nhatrang danang danang"
  "nhatrang phanthiet phuyen";
}

.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.3);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.overlay {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
}

.overlay h3 {
  margin: 0;
}

.overlay p {
  margin: 5px 0 0;
  font-size: 14px;
}

.phuquoc { grid-area: phuquoc; }
.dalat { grid-area: dalat; }
.quynhon { grid-area: quynhon; }
.vungtau { grid-area: vungtau; }
.nhatrang { grid-area: nhatrang; }
.danang { grid-area: danang; }
.phanthiet { grid-area: phanthiet; }
.phuyen { grid-area: phuyen; }

footer {
  background: #101732;
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-footer-left {
  display: flex;
  gap: 100px;
}

.container-footer-right{
  display:flex;
  gap:100px;
  align-items: center;
}