
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #0d74b1;
  z-index: 1000;
}

.container {
  width: 100%;
  padding: 0 30px;  
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.right a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.right a:hover {
  color: #101732;
}

.banner {
  margin-top: 80px;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.banner-content h1 {
  font-size: 50px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.9);
}

.banner-content p {
  font-size: 25px;
  margin: 10px 0 20px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.9);
}

.search-box {
  display: flex;
  gap: 10px;
  padding: 15px;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}

.search-box input,
.search-box button {
  padding: 10px;
  font-size: 16px;
}

.search-box button {
  background: orange;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-box button:hover {
  background: rgb(144, 94, 1);
}


.khacksan {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
}

.container-card {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.hotel-card {
  display: flex;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.hotel-img {
  width: 250px;
  height: 160px;
  object-fit: cover;
}


.hotel-info {
  flex: 1;
  padding: 15px;
}

.hotel-info h3 {
  font-size: 18px;
}

.location {
  color: #666;
  margin: 5px 0;
}

.desc {
  font-size: 14px;
  color: #444;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.tags span {
  background: #f1f3f5;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ddd;
}

.hotel-price {
  width: 200px;
  padding: 15px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  color: #0071c2;
  font-weight: bold;
}

.price {
  color: #ff5a00;
  font-size: 18px;
  font-weight: bold;
}

button {
  background: #0071c2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #005999;
}

footer {
  background: #101732;
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-footer-left {
  display: flex;
  gap: 100px;
}

.container-footer-right{
  display:flex;
  gap:100px;
  align-items: center;
}
